      <h3 class="my-5 under">練習合計時間</h3>

      <table class="table">
        <thead>
          <tr class="table-active">
            <th>Day</th><th>Month</th><th>Sum</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= today_min %></td>
            <td><%= month_min %></td>
            <td><%= sum_min %></td>
          </tr>
        </tbody>
      </table>