<div class="instruments-1-visual">
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-12">

        <div class="text-center mb-3"><h5><strong>通知一覧</strong></h5></div>

        <div class="row justify-content-center bg-light-10 p-4 rounded shadow p-3 mb-3">
          <div class="overflow-auto" style="width:1000-px; height:600px;">
          <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
          <% if notifications.exists? %>
            <%= render notifications %>

          <% else %>
            <p>通知はありません</p>
          <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>



