<div class="container">
  <div class="row">
    <h3>使用楽器・得意ジャンル一覧</h3>
  </div>
  <div class="row">

    <div class="col">
      <%= render "index", instrument: @instrument, instruments: @instruments %>
    </div>

    <div class="col">
      <%= render "admins/music_genres/index", music_genre: @music_genre, music_genres: @music_genres %>
    </div>

  </div>
</div>