<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="my-5 under">会員一覧</h3>

      <table class="table">
        <thead>
          <tr class="table-active">
            <th>会員ID</th><th>会員名</th><th>メールアドレス</th><th>会員ステータス</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.name, edit_admins_user_path(user) %></td>
            <td nowrap><%= user.email %></td>
            <td>
              <% if user.user_status? %>
                <span class="text-secondary font-weight-bold">有効</span>
              <% else %>
                <span class="text-success font-weight-bold">退会</span>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>