<div class="container-fluid top-main-visual  text-center">
    <div class="row pt-5"><div class="col text-center"><h2 class="text-dark"><strong>弾きたい曲を、弾けるように</strong></h2></div></div>
    <div class="row justify-content-center mt-5">
      <%= link_to '新規登録', new_user_registration_path, class: "btn btn-success mr-4" %>
      <%= link_to 'ログイン', new_user_session_path, class: "btn btn-dark ml-4" %>
    </div>
</div>

<div class="container">

  <div class="row mt-4">
    <div class="col text-center">
      <h2><strong>MPAPとは？</strong></h5>
      <p>楽器練習は基本的に個人の戦いです。</p>
      <p>そのためモチベーション維持や個人に合う適切な練習法の発見は困難です。</p>
      <p>それを解消するのがこのMPAP、Music Practice Article Postingです。</p>
    </div>
  </div>

  <div class="row shadow-sm p-1 bg-light">
    <div class="col-md-5 d-flex justify-content-center">
      <div class="practice-visual"></div>
    </div>
    <div class="col-md-7 mt-5 pt-5">
      <div class="row d-flex justify-content-center">
        <div class="col">

          <h5 ><i class="far fa-clock fa-lg"><strong>自分の練習時間を形に残そう！</strong></i></h5>
          <p class="mt-5">
            楽器練習を行ったら練習時間とともにそれをつぶやきましょう。<br>
            練習記録や時間がマイページの練習時間表やカレンダーに記録されます。<br>
            また設定された目標練習時間から目標達成率が表示されます。<br>
            またあなたのつぶやきをみることで他のユーザーのモチベーションを上げることになるでしょう。
          </p>

        </div>
      </div>

    </div>
  </div>

  <div class="row shadow-sm p-1 bg-light mt-5">
    <div class="col-md-5 d-flex justify-content-center order-md-2  order-sm-2">
      <div class="post-visual"></div>
    </div>
    <div class="col-md-7 text-left order-md-1 order-sm-1 mt-5 pt-5">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <div>
            <h5><i class="fas fa-book-open fa-lg"><strong>自分の練習内容を形に残そう！</strong></i></h5>
            <p class="mt-5">
              楽器練習を始めるとき記事を投稿しましょう。<br>
              また練習の経過をその記事に対するサブ記事を追加して記録しましょう。<br>
              記事投稿で達成感が得られ、モチベーションアップが望めます。<br>
              またその記事は他のユーザーの貴重な参考記事になるでしょう。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row shadow-sm p-1 bg-light mt-5">
    <div class="col-md-5 d-flex justify-content-center">
      <div class="search-visual"></div>
    </div>
    <div class="col-md-7 text-left pt-5">
      <h5 class="mt-5"><i class="fas fa-search fa-lg"><strong>豊富な検索機能を活用しよう！</strong></i></h5>
      <p class="mt-5">
        AND、NOT検索による記事タイトル、タグ検索を行うことであなたに最適な参考記事を見つけることができます。<br>
        ソート機能も用いて積極的にいろんな記事を活用しましょう！<br>
        また名前や得意ジャンル・使用楽器を指定したユーザー検索も可能です。
      </p>
    </div>
  </div>

  <div class="row mt-5 mb-3">
    <div class="col text-center">
      <i class="fas fa-cog fa-2x">
        その他各種機能
      </i>
    </div>
  </div>

  <div class="row p-2 mt-1">
    <div class="col-md-12">
      <div class="row d-flex justify-content-around">

        <div class="col-md-3 shadow-lg p-1 text-center m-3">
          <i class="far fa-bookmark fa-2x">
            ブックマーク
          </i>
          <p class="text-center mt-2">お気に入りの記事を<br>ブックマークに保存できます。</p>
        </div>

        <div class="col-md-3 shadow-lg p-1 text-center m-3">
          <i class="far fa-heart fa-2x">
            いいね
          </i>
          <p class="text-center mt-2">お気に入りの記事に<br>「いいね」をつけられます。</p>
        </div>

        <div class="col-md-3 shadow-lg p-1 text-center m-3">
          <i class="fab fa-rocketchat fa-2x">
            DM機能
          </i>
          <p class="text-center mt-2">各ユーザー間でダイレクトメールの<br>やり取りができます。</p>
        </div>

        <div class="col-md-3 shadow-lg p-1 text-center m-3">
          <i class="far fa-handshake fa-2x">
            フォロー機能
          </i>
          <p class="text-center mt-2">各ユーザー間で<br>フォローできます。</p>
        </div>

        <div class="col-md-3 shadow-lg p-1 text-center m-3">
          <i class="far fa-comments fa-2x">
            コメント機能
          </i>
          <p class="text-center mt-2">各記事にコメントを<br>残すことができます。</p>
        </div>

        <div class="col-md-3 shadow-lg p-1 text-center m-3">
          <i class="far fa-play-circle fa-2x">
            音声投稿
          </i>
          <p class="text-center mt-2">投稿記事に音声ファイルや<br>youtube動画を埋め込めます。</p>
        </div>

      </div>
    </div>
  </div>
    <div class="row pt-5"><div class="col text-center"><h2 class="text-dark"><strong>新規登録はこちら</strong></h2></div></div>
    <div class="row justify-content-center mt-5 mb-5">
      <%= link_to '新規登録', new_user_registration_path, class: "btn btn-success mr-4" %>
      <%= link_to 'ログイン', new_user_session_path, class: "btn btn-dark ml-4" %>
    </div>

</div>