<div class="container pt-3">
  <h5 class="text-center pt-3">サブ記事編集</h5>
  <%= render 'layouts/error_messages', model: @sub_post %>
  <%= render "sub_posts/form", main_post: @main_post, sub_post: @sub_post %>
</div>