<div class="container">
  <div class="row">
    <table class="table">
       <thead>
        <tr>
          <th>メッセージ相手</th><th>メッセージ内容</th>
        </tr>
      </thead>
      <tbody>
        <% @another_entries.each do |entry| %>
          <tr>
            <td><%= link_to entry.user.name, user_path(entry.user) %></td>
            <td>
              <%= link_to room_path(entry.room) do %>
                <!--最後に送られたメッセージを表示-->
                <%= Message.find_by(id: entry.room.message_ids.last)&.body %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>