// Place all the styles related to the MainPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_index {
  height: 400px;
  width: 250px;
  padding-top: 10px;
}

.main_post_index_image {
  width: 250px;
  height: 150px;
}

.youtube {
  width: 560px;
  height: 315px;
}

@media screen and (max-width:983px) {
  .main_post_index_image {
    width: 200px;
    height: 120px;
  }

  .youtube {
    width: 400px;
    height: 225px;
  }
}

@media screen and (max-width:773px) {
  .youtube {
    width: 400px;
    height: 225px;
  }
}